@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  /* Neutral color */
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  background-color: var(--Almost-White);
}

.container {
  padding-block: 2rem;
  width: min(95%, 100rem);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: var(--Medium-Gray);
  font-size: 1rem;
  font-weight: 500;
}

li:hover,
a:hover {
  color: var(--Almost-Black);
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

.logo {
  padding: 1rem;
}

.navigation {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 1.5rem;
}

.dropdown-menu {
  width: 100%;
  display: flex;
  align-items: center;
}

.dropdown-menu li:nth-child(1) {
  margin-right: 1rem;
}
.dropdown-menu li:nth-child(2) {
  margin-right: 1rem;
}
.dropdown-menu li:nth-child(3) {
  margin-right: 1rem;
}

.dropdown-menu div:last-child {
  margin-left: auto;
}

.burger-menu {
  color: var(--Almost-Black);
  border: 0;
  font-size: 45px;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.btn {
  cursor: pointer;
  padding: 0.8rem 1rem 0.8rem 1rem;
  outline: none;
  background-color: var(--Almost-White);
  border: none;
  border-radius: 1rem;
  color: var(--Medium-Gray);
  font-size: 1rem;
  font-weight: 500;
}

.btn:hover {
  color: var(--Almost-Black);
}

.btn-register {
  border: 2px solid var(--Medium-Gray);
}

.btn-register:hover {
  border: 2px solid var(--Almost-Black);
}

.btn-learn {
  justify-self: flex-start;
  cursor: pointer;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: none;
  background-color: var(--Almost-Black);
  color: var(--Almost-White);
  font-weight: 700;
  outline: none;
  border-radius: 1rem;
  font-size: 1rem;
}

.btn-learn:hover {
  border: 1px solid var(--Almost-Black);
  background-color: var(--Almost-White);
  color: var(--Almost-Black);
  font-weight: 700;
}

.dropdown {
  position: relative;
}

.hidden {
  display: none;
}

.dropdown-link > a {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.7rem 1rem;
}

.swirl {
  transform: rotateY(180deg);
  transition: transform 0.3s ease-in-out;
}

.visible {
  display: block;
  position: absolute;
  top: max(95%, 2.5rem);
  right: 0;
  width: max-content;
  background-color: var(--Almost-White);
  box-shadow: 0 1rem 1rem 0 rgb(0 0 0 / 20%);
  padding: 1rem 0;
  border-radius: 0.5rem;
  z-index: 1;
}

.show_one {
  display: initial;
}

.hero-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(22rem, 100%), 1fr));
  padding: 1rem;
  margin: 4rem 8rem;
  gap: 5rem;
}

.text-content div:last-child {
    margin-top: auto;
  
}

.text-content {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(min(6rem, 100%), 1fr));
  align-items: center;
  grid-gap: 1.5rem;
  margin-bottom: auto;
  max-height: 100%;

}

.logo-main {
      margin-top: auto;

}

.logo-main > img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.text-content > h1 {
    align-self: center;
  font-size: 3.7rem;
  font-weight: 700;
  line-height: 1.2;
  margin-right: auto;
}

.text-content > p {
  align-self: center;
  margin-right: auto;
  font-size: 1rem;
  font-weight: 500;
  color: var(--Medium-Gray);
}

.logos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logos > img {
  width: auto;
  height: 1.4rem;
}

@media (max-width: 786px) {
  .navigation {
    padding: 1.5rem 1rem;
    position: relative;
    display: flex;
    justify-content: end;
  }

  .dropdown-menu {
    position: fixed;
    background-color: var(--Almost-White);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 2rem;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    transform: translateX(130%);
    transition: transform 0.5s ease-in;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 300px;
  }

  .visible {
    top: 10%;
    position: relative;
    right: 0;
    width: max-content;
    transform: translateY(-1rem);
    box-shadow: none;
    z-index: 0;
  }

  .dropdown-menu .login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .dropdown-menu li {
    margin: 1rem;
  }

  .dropdown-menu div:last-child {
    margin-left: 0;
  }

  .burger-menu {
    display: block;
  }

  .navigation .dropdown-menu.show {
    transform: translateX(0);
  }

  .container {
    width: 100%;
  }

  .btn-learn {
    justify-self: center;
  }

  .btn-register {
    width: 100%;
  }

  .hero-section {
    width: 100%;
    grid-template-rows: minmax(0, 1fr) 1fr;
    margin: 0 auto;
    padding: 0;
  }

  .text-content {
    grid-template-rows: repeat(auto-fit, minmax(min(2rem, 100%), 1fr));
    justify-items: center;
    padding: 0 5rem 0 5rem;
  }

  .logo-main {
    order: -1;
  }

  .login {
    justify-self: end;
  }

  .nav-links {
    padding: 1rem;
  }
}
